h1 {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
h1 {
    color: blue;
    font-size: 28px;
    background-color: lightpink;
    text-align: center;
    font-style: italic;
}
h2 {
    color: green;
    font-size: 24px;
    background-color: lightyellow;
    text-align: center;
}
h3 {
    color: red;
    font-size: 20px;
    background-color: lightcyan;
    text-align: center;
}
h4 {
    color: orange;
    font-size: 18px;
    background-color: lightgrey;
}
p {
    color:rgba(133, 7, 7, 0.372);
    font-size: 18px;
    background-color: lightsteelblue;
    text-align: justify;
}
a {
    color: black;
    text-decoration: none;
}
table {
  width: 400px;
  border: 2px dotted rgb(96 139 168);
  display: flex;
}

table > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 1px;
  background-color: rgb(96 139 168 / 0.2);
  float: Left;
}
#item\?one {
  background-color: burlywood;
}
#item\?two {
  position: sticky;
}
#item\?three {
    float: left;
}
img {
    width: 100%;
}

@media screen and (max-width: 616px) {
  header {
    background: #ED254E;
    display: block;
    padding: 0;
  }
  header ul li {
    display: block;
    border-top: 1px solid #011936;
  }

  header h1 {
    padding: 20px;
  }
  table {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 576px) {
  header {
    background: #F9DC5C;
    color: #011936;
  }
  table {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  header {
    background: #C2EABD;
  }
  table {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  header {
    background: #011936;
    color: #C2EABD;
  }
  table {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  header {
    background: #465362;
  }
  table {
    width: 100%;
    display: block;
  }
}